.imagenyo{
    border: groove 10px purple;
    border-radius: 10px;
    height: 25em;
    width: 25em;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: oldlace;
}

.titulo{
    font-size: 4em;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.subtitulo{
    font-size: 2em;
}

h2{
    font-size:2.5em;
    font-style: inherit;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

li{
    font-size: 1.5em;
    font-style: oblique;
    text-align: justify;
}

.imagenseparadora{
    width: 1500px;
    height: 10px;
}

th{
    background-color: gray;
    border: red;
}

td{
    text-align: center;
}

table{
    font-size: 0.9em;
    background-color: blanchedalmond;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

section{
    display: flex;
    width: 30em;
    height: 25em;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.enlace{
    font-size: 1.9em;
}